body{
	background-color : azure;
}

#meucanvas{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	background-color : white;
}

body, html{
	height: 100%;
}
th{
	text-align: center;

}


table{
	text-align: center;
	border-color: black;
	border-spacing: 15px 10px;
	border: 1px solid;
}
